html, body {
    width: 100%;
    height: 100%;
}
.map {
    height: 100%;
    width: 100%;
}

#drawRegionButton {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 1;
    background-color: green;
    color: white;
    cursor: pointer;
}

#createRegionButton {
    position: absolute;
    top: 20px;
    right: 90px;
    width: 40px;
    height: 40px;
    z-index: 1;
    background-color: violet;
    color: white;
    cursor: pointer;
}

#deleteRegionButton {
    position: absolute;
    top: 20px;
    right: 160px;
    width: 40px;
    height: 40px;
    z-index: 1;
    background-color: red;
    color: white;
    cursor: pointer;
}


.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
  }
  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  .ol-popup-closer:after {
    content: "X";
  }